.home-icon {
    width: 25px;
    height: 25px;
}

.inner-padding {
    padding: 24px;
    div > div {
        padding-bottom:12px;
    }
}

.member-name {
    padding-left: 16px;
    label {
font-size: 16px;
font-weight: 400;
    }
    b {
font-size: 20px;
font-weight: 600;
    }
}