<div fxFlexFill fxLayout="column" class="scroll-container">
    <div fxLayoutAlign ="start center" class="header primary-color-theme">
        <img alt="Avengers pportal logo" src="../../assets/images/logo.jpg" (click) = homeComponentService.goToHome()/>
        <div> Avengers Health Portal </div>
    </div>   
    <div fxFlex fxLayout="column" class="body-bg scroll-container">
        <form [formGroup]="patientSearchForm">
        <mat-card class="card-padding">
            <div fxLayoutAlign ="center" class="sub-heading"> Search with Patient Admit card number or Name or Phone number</div>
            <div fxLayout="row" fxLayoutAlign ="center center">
                <div fxLayout="row"  fxLayoutGap="20px">
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Admit card number</mat-label>
                            <input
                            autofocus
                            numbersOnly
                            autocomplete="off"
                            matInput 
                            placeholder = "Enter search text"
                            type="tel"      
                            formControlName="admitNo"
                            #admitNum
                            [(ngModel)]="admitCardNo"
                            />
                            <mat-error *ngIf="getForm.admitNo.errors?.pattern">Enter only number.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input
                            charOnly
                            autocomplete="off"
                            matInput
                            maxlength="25"
                            placeholder = "Enter search text"
                            type="text"      
                            formControlName="fName"
                            #firstName
                            [(ngModel)]="firstNameVal"        
                            />
                            <mat-error *ngIf="getForm.fName.errors?.pattern">Allowed . and -</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input
                            charOnly
                            autocomplete="off"
                            matInput 
                            maxlength="25"
                            placeholder = "Enter search text"
                            type="text"      
                            formControlName="lName"
                            #lastName
                            [(ngModel)]="lastNameVal"         
                            />
                            <mat-error *ngIf="getForm.lName.errors?.pattern">Allowed . and -</mat-error>

                        </mat-form-field>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input
                            numbersOnly
                            autocomplete="off"
                            matInput 
                            placeholder = "Enter search text"
                            type="tel"      
                            formControlName="phone"
                            #phoneNum
                            [(ngModel)]="phoneNo"        
                            />
                            <mat-error *ngIf="getForm.phone.errors?.pattern">Enter only number.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">
                    <button class="primary-color-theme button-margin"
                    [disabled]="patientSearchForm.invalid || !(admitNum.value || firstName.value || lastName.value || phoneNum.value)"
                    (click)="search()" 
                    mat-raised-button mat-primary> Search</button>
                    <button class="button-margin"
                    (click)="clear()"
                    mat-raised-button> Clear</button>
                </div>
            </div>
        </mat-card>
        </form>
        <mat-card fxLayout="column" class="card-padding scroll-container">
            <div fxLayout="row" fxLayoutAlign ="center" class="sub-heading"> List of patients available</div>
            <hr/>
            <div fxLayout="column" fxFlex class="">
                <table fxFlex mat-table [dataSource]="dataSource" class="scroll-container patient-table">
            
                    <ng-container matColumnDef="admitNo">
                        <th mat-header-cell *matHeaderCellDef> Admit card no </th>
                        <td mat-cell *matCellDef="let element">{{ element.admitCardNumber }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{ element.firstName}} {{ element.lastName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="altName">
                        <th mat-header-cell *matHeaderCellDef> Alternate name </th>
                        <td mat-cell *matCellDef="let element"> {{ element.alternateName || '-' }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef> Gender</th>
                        <td mat-cell *matCellDef="let element"> {{ element.gender }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Phone</th>
                        <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
                </table>
            </div>

        </mat-card>
     </div>
    <div fxLayoutAlign ="space-between start" class="footer primary-color-theme">
        <div>Fouder: Nick Furry</div>
        <div>{{ currentTime }}</div>
    </div>
</div>